footer {
    width: 100%;
    border-top: 1px solid #CCCCCC;
    color: black;
    height: 60px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
