.popover {
    display: none;
    position: absolute;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    list-style: none;
    padding: 0;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}

.locations h2 {
    font-size: 16px;
}
